/*fonts*/

@font-face{
	font-family:"Gilroy";
	font-weight: 400;
	font-style: normal;
	src:url(../fonts/gilroylight.woff2) format("woff2"),
	    url(../fonts/gilroylight.woff) format("woff");
}

@font-face{
	font-family:"Gilroy Extrabold";
	font-weight: 800;
	font-style: normal;
	src:url(../fonts/gilroyextrabold.woff2) format("woff2"),
	    url(../fonts/gilroyextrabold.woff) format("woff");
}

@font-face{
	font-family:"Open sans";
	font-weight: 400;
	font-style: normal;
	src:local("Gilroy"),
	    url(../fonts/opensanslight.woff2) format("woff2"),
	    url(../fonts/opensanslight.woff) format("woff");
}

@font-face{
	font-family:"Open sans light";
	font-weight: 300;
	font-style: normal;
	src:local("Gilroy"),
	    url(../fonts/opensanslight.woff2) format("woff2"),
	    url(../fonts/opensanslight.woff) format("woff");
}



/*custom colour*/

@basic-black:#000000;
@basic-dark:#363636;
@basic-gray:#464646;
@basic-half-grey:#7e7e7e;
@basic-grey-light:#e5e5e5;
@basic-white:#ffffff;
@special-yellow-dark:#f0c52e;
@special-yellow:#f7e296;
@special-green:#91c92f;
@special-colour:#f6dada;



/*global*/

body{
	font-style:normal;
	font-family:"Open sans";
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color:@basic-black;
}

a{
	color:@basic-black;
	&:hover{
		opacity: 60%;
	}
	&:focus{
		opacity:30%;
	}
}



/*header*/

.main-header{
	background-color:@special-yellow;
	.main-navigation{
		a{
			font-family:"Gilroy Extrabold";
			font-size: 18px;
			letter-spacing: 20%;
			line-height: 22px;
		}
	}
}



/*slider*/


.slider{
	font-family:"Gilroy Extrabold";
	h1{
		font-size:179px;
		line-height: 219px;
		color:@basic-white;
	}
	h2{
		font-size: 47px;
		line-height: 58px;
	}
	a{
		font-size: 18px;
		line-height: 22px;
		letter-spacing:20%;
	}
	td{
		font-family:"Gilroy";
		font-size: 36px;
		line-height: 42px;
		letter-spacing:10%;
	}
	th{
		font-family:"Gilroy";
		font-size: 13px;
		line-height: 15px;
		letter-spacing:10%;
	}
}



/*popular*/

.popular-products{
	font-family:"Gilroy Extrabold";
	font-size: 18px;
	line-height: 22px;
	letter-spacing:5%;
	.popular-icon{
		background-color:@special-yellow;
	}
	a{
		&:hover .popular-icon{
			background-color:@special-yellow-dark;
		}
		&:focus img, &:focus h2{
			opacity:30%;
		}
	}
}



/*services*/

.services-list{
	.services-item{
		font-family:"Gilroy Extrabold";
		letter-spacing: 20%;
		background-color:@basic-grey-light;
	}
	h2{
		font-size: 47px;
		line-height: 58px;
	}
	p{
		line-height: 30px;
	}
	button{
		font-size: 18px;
	}
	.delivery{
		li:first-child{
			button{
				color:@special-yellow;
				background-color:@basic-black;
			}
		}
	}
	.warranty{
		li:nth-child(2){
			button{
				color:@special-yellow;
				background-color:@basic-black;
			}
		}
	}
	.credit{
		li:last-child{
			button{
				color:@special-yellow;
				background-color:@basic-black;
			}
		}
	}
}




/*information-contacts*/

.information-block{
	font-family:"Gilroy Extrabold";
	h2{
		font-size: 47px;
		line-height: 58px;
		letter-spacing: 20%;
	}
	p{
		font-family:"Open sans";
		line-height: 28px;
	}
	.company-delivery-list{
		font-size:16px;
		line-height: 28px;
	}
	.contact-us{
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 20%;
	}
}



/*footer*/

.footer{
	background-color:@basic-dark;
	color:@basic-white;
	a{
		color:@basic-white;
	}
	.main-navigation{
		a{
			font-family:"Gilroy Extrabold";
			font-size: 18px;
			letter-spacing: 20%;
			line-height: 22px;
		}
	}
}
